[Unit]
Description=DS18B20 Publisher

[Service]
WorkingDirectory=/opt/ds18b20_pub
ExecStart=/opt/ds18b20_pub/bin/ds18b20
Restart=always
Type=simple
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
