[Unit]
Description=Co2 MQTT message to DB

[Service]
WorkingDirectory=/opt/co2
ExecStart=/opt/co2/bin/co2db
Restart=always
Type=simple
User=co2
Group=co2

[Install]
WantedBy=multi-user.target
